 <ion-view cache-view="false" hide-nav-bar="true" class="app-bg" ng-cloak> 
  <ion-header-bar class="header-container">    
	<h1 class="create-acct-title title white thin roboto"><a href="#/dash-cart-shipping" class="left-arrow" style="color:#fff"></a>{{title}}<a href="#/menu/dash-home" class="right-arrow" style="color:#fff" ng-show="is_registered"></a></h1>              
  </ion-header-bar> 
  
  <ion-content class="dash-page">  	
  	<div class="cart-shipping">  		

        <div ng-click="topayment(carrier.id_carrier, carrier.price, carrier.name)" class="list" ng-repeat="carrier in carriers track by $index">
			<a class="item item-thumbnail-left" href="javascript:;">
      			<img src="https://petsneedmeds.com/{{carrier.img}}">
      			<h2>{{carrier.name}}</h2>
      			<p>{{carrier.delay}}</p>
      			<span>{{carrier.price | currency}}</span>      			      			
   			 </a>
		</div>

	  	<div class="cart-summary">
	        <div class = "row no-padding">
	            <div class = "col col-50 no-padding">Subtotal</div>
	            <div class = "col no-padding"></div>
	            <div class = "col no-padding align-right">{{total1 | currency}}</div>
	        </div>  
	        <div class = "row no-padding">
	            <div class = "col col-50 no-padding">Shipping &amp; Handling</div>
	            <div class = "col no-padding"></div>
	            <div class = "col no-padding align-right">{{totalshippping | currency}}</div>
	        </div>  
	        <div class = "row no-padding">
	            <div class = "col col-50 no-padding">Estimated Sales Tax</div>
	            <div class = "col no-padding"></div>
	            <div class = "col no-padding align-right">{{totaltax | currency}}</div>
	        </div>  

	        <div class = "row no-padding grand-total-container">
	          <div class = "col col-50 no-padding"><span>Grand Total</span></div>
	            <div class = "col no-padding"></div>
	            <div class = "col no-padding align-right">{{grandtotal | currency}}</div>
	        </div>	       
	    </div> 
  	</div> 
  </ion-content>
  
  <div class="tabs tabs-icon-top">
	<a class="tab-item" href="#/dash-home">
		<i class="icon ico-home"></i>
	    Home
	</a>
	<a class="tab-item">
		<i class="icon ico-search"></i>
	    Search
	</a>
	<a class="tab-item">
	   <i class="icon ico-wishlist"></i>
	   Wishlist
	</a>
	<a class="tab-item activated" href="#/menu/dash-shopping-cart">
	   <i class="icon ico-cart"></i>
	   Cart
	</a>
	<a class="tab-item" href="#/dash-my-account">
	   <i class="icon ico-account"></i>
	   Account
	</a>
  </div>		
</ion-view> 

