<ion-view cache-view="false" hide-nav-bar="true" class="app-bg" ng-cloak>
    <ion-header-bar class="header-container">
      <h1 class="create-acct-title title"><img class="title-image" src="img/header-logo.png" style="height: 40px;margin-top: 2px;"/></h1>
      <a href="#/intro" class="button button-icon ion-ios-close-empty" style="color:#fff" ng-click="close()"></a>
    </ion-header-bar>


  <ion-content class="new-account account-page" overflow-scroll="false">
    <div class="row">
      <p class="roboto create-acct-content">Forgot Password</p>
    </div>
    <br>
    <div class="row">
      <form id="create-email" name="forgotPassword" ng-submit="forgotPass(forgotPassword)" class="side-border"> 
        <div class="list">
          <label class="item item-input">
            <input type="email" placeholder="E-mail address" ng-model="data.forgotEmail" name="forgotEmail" required>
          </label>

          <div class="error-msg" ng-messages="forgotPassword.forgotEmail.$error" ng-show="forgotPassword.forgotEmail.$touched || error_" role="alert">
              <div ng-message="required">Required</div>
              <div ng-message="email">Invalid email!</div>
          </div>
          
          <button class="button button-block button-assertive no-radius">Email Password</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>